# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Node / Development
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Redundant Archives
*.zip
*.tar
*.gz

# Local IDE & Brain
.vscode/
.idea/
.system_generated/
